.content {
  position: relative;
  padding: 2rem 3rem;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
}

.markdown {
  /* normalize since ReactMarkdown appears to use em */
  font-size: 1rem;
}
