.content {
  position: relative;
  padding: 2rem 3rem;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
}

.back {
  border: none;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.back .icon {
  font-size: 2rem;
  margin-right: 1rem;
}
