@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

html, body {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding-bottom: 0.1em;
  border-bottom: 1px solid;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover, a:active {
  color: #007fff;
}

::selection {
  background: rgba(0, 0, 0, 0.5);
  color: #007fff;
}

.App {
  min-height: 100%;
  display: grid;
  background: #101214 url(images/binding_dark.png);
  font-family: 'Open Sans', sans-serif;
  color: #EFEFEF;
}
