@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,500');

a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding-bottom: 0.1em;
  border-bottom: 1px solid;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover, a:active {
  color: #007fff;
}

::selection {
  background: rgba(0, 0, 0, 0.5);
  color: #007fff;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  padding: 0 10%;
  background: #101214 url(images/binding_dark.png);
  font-family: 'Monsterrat', sans-serif;
  color: #EFEFEF;
}

.content {
  padding: 2rem 0;
}

.header {
  padding-top: 4rem;
}

.footer {
  padding-bottom: 4rem;
  font-size: 1.1rem;
  font-weight: 100;
  display: grid;
  grid-template-columns: 1fr auto;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2.5rem;
  text-align: center;
}

@media (max-width: 600px) {
  .footer-links {
    grid-template-columns: repeat(2, auto);
  }
}

.footer-links > a {
  border: none;
}

.header-title {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 3rem;
  }
}

.header-description {
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.fancy-header {
  font-size: 2rem;
}
.fancy-header, .fancy-header-mobile {
  color: #ffff00;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
}
.fancy-header span {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}
.fancy-header span:before,
.fancy-header span:after {
  content: "";
  position: absolute;
  width: calc(25vw - 50%);
  height: 1.0em;
  margin: 0.5em 1em 0;
  border-top: 1px solid;
}
.fancy-header span:before {
  right: 100%;
  text-align: left;
}
.fancy-header span:after {
  left: 100%;
  text-align: right;
}
.fancy-header-mobile span {
  position: relative;
  font-size: 1.75rem;
}
.fancy-header-mobile span:after {
  content: "";
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: -0.5em;
  border-bottom: 1px solid;
}
