@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');

.App {
  text-align: center;
  font-family: 'Monsterrat', sans-serif;
  color: white;
}

.App-header {
  height: 30%;
  padding: 5rem;
  font-weight: 500;
}

.App-title {
  font-size: 2rem;
}

.App-intro {
  font-weight: 300;
  line-height: 1.2em;
}
