.fancy-header {
  font-size: 2rem;
  padding-bottom: 4rem;
}

.fancy-header-mobile {
  font-size: 1.5rem;
  padding-bottom: 5rem;
}

@media (max-width: 350px) {
  .fancy-header-mobile {
    font-size: 1.35rem;
  }
}

.fancy-header, .fancy-header-mobile {
  color: #00ff80;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.fancy-header div {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

.fancy-header div:before,
.fancy-header div:after {
  content: "";
  position: absolute;
  width: calc(25vw - 50%);
  height: 1em;
  margin: 0.75em 1em 0;
  border-top: 1px solid;
}

.fancy-header div:before {
  right: 100%;
  text-align: left;
}

.fancy-header div:after {
  left: 100%;
  text-align: right;
}

.fancy-header-mobile div {
  position: relative;
  display: inline-block;
}

.fancy-header-mobile div:after {
  content: "";
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.5em;
  border-bottom: 1px solid;
}
