.fancy-header {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.fancy-header-mobile {
  padding-bottom: 3rem;
}

.fancy-header, .fancy-header-mobile {
  color: #00ff80;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
}

.fancy-header span {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

.fancy-header span:before,
.fancy-header span:after {
  content: "";
  position: absolute;
  width: calc(25vw - 50%);
  height: 1.0em;
  margin: 0.5em 1em 0;
  border-top: 1px solid;
}

.fancy-header span:before {
  right: 100%;
  text-align: left;
}

.fancy-header span:after {
  left: 100%;
  text-align: right;
}

.fancy-header-mobile span {
  position: relative;
  font-size: 1.75rem;
}

.fancy-header-mobile span:after {
  content: "";
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: -0.5em;
  border-bottom: 1px solid;
}
