.home {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2rem;
}

@media (max-width: 768px) {
  .home {
    grid-template-columns: 100%;
    grid-gap: 3rem;
  }
}

/* ================================ */

.profile-image-wrapper {
  display: grid;
}

.profile-image {
  border: 2px solid #007fff;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  background: no-repeat center center;
  background-size: cover;
  justify-self: center;
}

.profile-title {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 2rem 0 0;
}

@media (max-width: 768px) {
  .profile-image {
    width: 40vw;
    height: 40vw;
  }

  .profile-title {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .profile-image {
    width: 60vw;
    height: 60vw;
  }
}

/* ================================ */

.location {
  margin: auto;
  display: grid;
  grid-template-columns: 4rem auto;
}

.location-marker {
  font-size: 4rem;
}

.location-links {
  font-size: 1.5rem;
  margin: auto;
}

.location-link {
  color: gray;
}

.location-link:last-child {
  color: inherit;
}

.location-link > a {
  text-decoration: line-through;
  border: none;
}

.location-link:last-child > a {
  text-decoration: none;
}

/* ================================ */

.info-description {
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.info-arrow {
  font-size: 4rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  cursor: pointer;
  outline: none;
  transition: opacity 0.25s ease-in-out;
}

/* ================================ */

.contact {
  font-size: 1.1rem;
  text-align: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, auto);
  align-items: center; /* Vertical */
}

.contact-header {
  border: 2px solid #00ff80;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: grid;
  margin: 0 auto;
}

.contact-header > div {
  color: #00ff80;
  font-size: 1.5rem;
  margin: auto;
}

.contact-links {
  display: grid;
  grid-gap: 1rem;
  text-align: left;
}

.contact-links > a {
  border: none;
}

@media (max-width: 768px) {
  .contact-header {
    margin: 1rem auto;
  }

  .contact {
    grid-template-columns: none;
    grid-gap: 2rem;
  }

  .contact-links {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem 1rem;
    text-align: center;
  }
}
