html, body {
  margin: 0;
  height: 100%;
  background: black;
  overflow: auto;
  /* Re-enable inertia scrolling */
  -webkit-overflow-scrolling: touch;
}

#introCanvas {
  z-index: 1;
  position: absolute;
}

#root {
  height: 100%;
  width: 100%;
}
