html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
}

#introCanvas {
  z-index: 9999;
  position: absolute;
  /* If you change the time, also change it in shirousagi.js */
  transition: opacity 1s ease-in-out;
}

#root {
  display: none;
  background: #101214;
  width: 100%;
  height: 100%;
}
