.timeline-title {
  grid-area: timeline-title;
  color: #ff007f;
  font-size: 2rem;
}

.timeline-image {
  grid-area: timeline-image;
  border: 2px solid #ff007f;
  border-radius: 2px;
  width: 20vw;
  height: 20vw;
  margin-top: 2rem;
  background: no-repeat center center;
  background-size: cover;
}

.timeline-image img {
  width: 100%;
}

.timeline-content {
  grid-area: timeline-content;
  font-size: 1.1rem;
  font-weight: lighter;
  line-height: 1.5;
  max-width: 70ch;
}

.timeline-links {
  grid-area: timeline-links;
  font-size: 1.1rem;
  color: #ff007f;
}

.timeline-links a {
  display: inline-block;
  border: 1px solid;
  border-radius: 2px;
  padding: 0.5em 1.5em;
  margin-left: 1em;
  text-align: center;
}

.timeline-links a:first-child {
  margin: 0;
}

.timeline-date {
  grid-area: timeline-date;
  font-size: 2.5rem;
  width: 3.5rem;
  color: #007fff;
  padding-left: 2rem;
  padding-top: 2rem;
  margin-right: -4rem;
}

.timeline-date span {
  display: block;
  transform: rotate(90deg);
  transform-origin: top left;
  white-space: nowrap;
}

.timeline-elem {
  display: grid;
  grid-row-gap: 1.5rem;
  grid-column-gap: 4rem;
  grid-template-areas:
    "timeline-image timeline-title   timeline-date"
    "timeline-image timeline-content timeline-date"
    "timeline-image timeline-links   timeline-date";
}

@media (max-width: 768px) {
  .timeline-title {
    text-align: center;
  }

  .timeline-image {
    width: 65vw;
    height: 65vw;
    margin: 0 auto;
  }

  .timeline-date {
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .timeline-date span {
    transform: none;
    width: 100%;
    text-align: center;
  }

  .timeline-elem {
    grid-template-areas:
      "timeline-image"
      "timeline-title"
      "timeline-date"
      "timeline-content"
      "timeline-links";
  }
}
