.timeline-title {
  grid-area: timeline-title;
  color: #ff007f;
  font-weight: 300;
  font-size: 2rem;
}

.timeline-image {
  grid-area: timeline-image;
  border: 2px solid #ff007f;
  border-radius: 2px;
  width: 20vw;
  height: 20vw;
  background: no-repeat center center;
  background-size: cover;
}

.timeline-image img {
  width: 100%;
}

.timeline-content {
  grid-area: timeline-content;
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.5;
}

.timeline-links {
  grid-area: timeline-links;
  font-size: 1.1rem;
  color: #ff007f;
  font-weight: 100;
}

.timeline-links a {
  display: inline-block;
  border: 1px solid;
  border-radius: 2px;
  padding: 0.5em 1.5em;
}

.timeline-date {
  grid-area: timeline-date;
  position: relative;
  font-weight: 100;
  font-size: 2rem;
  color: #007fff;
}

.timeline-date span {
  display: block;
  position: absolute;
  width: 20vw;
  transform: rotate(90deg);
  transform-origin: bottom left;
}

.timeline-elem {
  display: grid;
  grid-row-gap: 1.5rem;
  grid-column-gap: 4rem;
  grid-template-areas:
    "timeline-image timeline-title   timeline-date"
    "timeline-image timeline-content timeline-date"
    "timeline-image timeline-links   timeline-date";
}

@media (max-width: 768px) {
  .timeline-title {
    text-align: center;
  }

  .timeline-image {
    width: 65vw;
    height: 65vw;
    margin: 0 auto;
  }

  .timeline-date {
    font-size: 1.5rem;
  }

  .timeline-date span {
    position: relative;
    transform: none;
    width: 100%;
    text-align: center;
  }

  .timeline-elem {
    grid-template-areas:
      "timeline-image"
      "timeline-title"
      "timeline-date"
      "timeline-content"
      "timeline-links";
  }
}
